  body {
  background: url("../img/catgif.gif") no-repeat center center fixed;
	background-size: cover;
	color: #FF3399;
}
a {
	text-decoration: none;
	color: #0066FF;
	
}

.a{
width: 25%;
}

a:hover {
	text-decoration: underline;
	color: #FF0000;
}

.main {
    background-color: #FFF;
    max-width: 800px;
	margin-right: auto;
	margin-left: auto:
	
}